.header-panel-top .nav-link.active {
    opacity: 1;
  border-bottom: 4px solid black;
}
.personal-cabinet {
    padding: 0.5rem 1rem;
    background-color: #fbce5d;
    text-align: center;
}
.personal-cabinet span{
    font-family: Arial;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    color: #282828;
    
}
.nav {
  justify-content: flex-end;
}
.nav-item {
  cursor: pointer;
}


.logo-container img {
    height: 60px;
    margin-top: 10px;
}
.nav-link.bottom {
        opacity: 1;
        font-family:  "officina", "OpenSans", sans-serif;
        font-size: 17px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #282828;
        padding-top: 31px;
        padding-left: 0px;
        padding-right: 0px;
        padding-bottom: 14px;
      }
.nav-link.bottom.active {
    border-bottom: solid 4px #fbce5d; 
}
.nav-item.bottom {
    
}

@media (max-width:768px) {
  .pc-header-container {
      display: none;
  } 
}