@keyframes lds-double-ring {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-webkit-keyframes lds-double-ring {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes lds-double-ring_reverse {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

@-webkit-keyframes lds-double-ring_reverse {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(-360deg);
        transform: rotate(-360deg);
    }
}

.lds-double-ring {
    position: relative;
}

.lds-double-ring div {
    box-sizing: border-box;
}

.lds-double-ring>div {
    position: absolute;
    width: 182px;
    height: 182px;
    top: 9px;
    left: 9px;
    border-radius: 50%;
    border: 10px solid #000;
    border-color: #1d150a transparent #1d150a transparent;
    -webkit-animation: lds-double-ring 1.7s linear infinite;
    animation: lds-double-ring 1.7s linear infinite;
}

.lds-double-ring>div:nth-child(2),
.lds-double-ring>div:nth-child(4) {
    width: 158px;
    height: 158px;
    top: 21px;
    left: 21px;
    -webkit-animation: lds-double-ring_reverse 1.7s linear infinite;
    animation: lds-double-ring_reverse 1.7s linear infinite;
}

.lds-double-ring>div:nth-child(2) {
    border-color: transparent #edb426 transparent #edb426;
}

.lds-double-ring>div:nth-child(3) {
    border-color: transparent;
}

.lds-double-ring>div:nth-child(3) div {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.lds-double-ring>div:nth-child(3) div:before,
.lds-double-ring>div:nth-child(3) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    top: -10px;
    left: 76px;
    background: #1d150a;
    border-radius: 50%;
    box-shadow: 0 172px 0 0 #1d150a;
}

.lds-double-ring>div:nth-child(3) div:after {
    left: -10px;
    top: 76px;
    box-shadow: 172px 0 0 0 #1d150a;
}

.lds-double-ring>div:nth-child(4) {
    border-color: transparent;
}

.lds-double-ring>div:nth-child(4) div {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.lds-double-ring>div:nth-child(4) div:before,
.lds-double-ring>div:nth-child(4) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    top: -10px;
    left: 64px;
    background: #edb426;
    border-radius: 50%;
    box-shadow: 0 148px 0 0 #edb426;
}

.lds-double-ring>div:nth-child(4) div:after {
    left: -10px;
    top: 64px;
    box-shadow: 148px 0 0 0 #edb426;
}

.lds-double-ring {
    width: 200px !important;
    height: 200px !important;
    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}