h2.part-header {
  width: 100%;
    margin-top: 20px;
  margin-bottom: 40px;
  font-size: 50px;
  font-family: "officina", "OpenSans", sans-serif;

}
.card-section-title div {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-left: 15px;
}
.card-section-title {
    display: flex;
    justify-content: space-between;
    align-items: baseline
    
}
.develop-prog-card {
    max-height: 250px;
    border-radius: 10px;
    box-shadow: 0 2px 70px 0 rgba(0, 0, 0, 0.09);
    background-color: #ffffff;
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.develop-card-wrapper {
    justify-content: space-between;

}
.dev-prog-name {
    font-family: 'officina', 'OpenSans', sans-serif;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.13;
  letter-spacing: normal;
  color: #282828;
  margin-bottom: 10px;
}
.dev-prog-button button {
    margin-top: 10px;
    margin-bottom: 15px;
    width: 180px;
    height: 42px;
    color: #282828;
    border-radius: 100px;
    box-shadow: 0 6px 5px 0 rgba(116, 52, 0, 0.4), 0 4px 0 0 #ffdbab, 0 3px 0 0 #ebb26a;
    background-image: linear-gradient(to bottom, #f8c25b, #fdd06a);
    border: none ;
}
.card-img-top-develop{
  width: 100%;
}