.row .card {
 margin-bottom: 10px;
}
.card-img-top {
     
    max-height: 148px;
    height: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}

.card-title {
    margin-top: 9px;
    width: auto;
    height: auto;
    font-size: 20px;
    color: #282828;
    font-family: 'officina', 'OpenSans', sans-serif;
}

@media (max-width: 768px){
    .card-img-top {
    max-height: 100px !important;
    width:100%
    }
    .card-body .card-title {
        font-size: 17px;
    }
    .catalog-card .card-body {
        padding-left: 10px;
        padding-right: 10px;
    }
    .card-body .card-text {
        font-size: 14px;
    }
}