
  .header-panel-top {
    height: 44px;
    width: 100%;
    margin: 0;
    border-bottom: 1px solid rgb(196, 195, 195);
    padding: 0;
  }
  .header-panel-bottom {
    height: 80px;
    width: 100%;
    border-bottom: 1px solid rgb(196, 195, 195);
    margin: 0;
  }
  span.nav-link {
    opacity: 0.5;
    font-family: Arial;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.31;
    letter-spacing: normal;
    color: #000000;
    padding-top: 13px;
    padding-bottom: 11px;
  }
  